body {
    margin: 0;
    background-color: #87CEEB;
    overflow: hidden;
}

.runner {
    width: 24px;
    height: 32px;
    background-image: url('images/spritenew.png') left center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: run 0.8s steps(1) infinite, move 5s linear infinite;
}

@keyframes run {
    100% {
        background-position: -144px;
    }
}

@keyframes move {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}